/* Add your custom styles here */
body {
    padding-top: 70px; /* Adjusted top padding to accommodate the fixed navbar */
}
.container {
    display: flex;
  }
.image-box {
    margin-right: 1px;
}

.image-box img {
    border-radius: 5px;
    margin-right: 10px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}