/* Add your custom styles here */
body {
    padding-top: 70px; /* Adjusted top padding to accommodate the fixed navbar */
}
.navbar-brand img {
    width: 90px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

.container {
    display: flex;
  }


.image-box {
    margin-right: 1px;
}

.image-box img {
    border-radius: 5px;
    margin-right: 10px;
    width: 90px;
    height: 90px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items {
    float: right;
    display: flex;
    margin-right: auto;
    font-size: medium;
    background-color: #f0d6d6;

}

.carousel-image {
    max-width: 100%; /* Set the maximum width to 100% of the parent container */
    max-height: 600px; /* Set the maximum height (adjust the value as needed) */
    margin: 0 auto; /* Center the image within the carousel item */
}


















































